@font-face {
    font-family: 'Bold';
    src: url('../font/Degular-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'Medium';
    src: url('../font/Degular-Medium.otf') format('opentype');
    font-weight: normal; /* Change to normal for Medium font */
}

body {
    font-family: 'Medium', sans-serif; 
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Prevent text selection */
body {
    user-select: none; /* Non-selectable text */
}

/* Prevent dragging of all elements */
* {
    -webkit-user-drag: none; /* For WebKit browsers (Chrome, Safari) */
    -moz-user-drag: none; /* For Firefox */
    -o-user-drag: none; /* For Opera */
    user-drag: none; /* Standard */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.123); /* Adjust the alpha value for dimming */
    z-index: 0; /* Ensure it is below all other content */
}

input[type="text"] {
    width: 70%;
    padding: 4px 10px;
    border: 0px;
    border-radius: 7px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.35);
    font-family: "Medium";
    font-size: 14px;
    color: #ffffff; /* Text color */
}