.spotify-widget {
    position: fixed; 
    bottom: 20px; 
    left: 20px; 
    z-index: 1000; 
    text-align: center; 
    border-radius: 10px; 
    width: calc(100% - 40px); 
    max-width: 375px; 
    transform: scale(0.85); 
    transform-origin: bottom left; 
    user-select: none; /* Non-selectable text */
}

#updatePlaylist{
    padding: 4px 6px;
    margin: 0px 0; /* Adjusted margin to reduce gap */
    border: none;
    border-radius: 8px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(10px);
    font-family: "Medium";
    cursor: pointer;
    font-size: 14px;
}

